@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Patrick+Hand&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  padding: 0;
}

body {
  background-color: lightblue;
  min-height: 100vh;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

header {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
}
.title-logo {
  height: 100%;
  display: flex;
  gap: 24px;
}

.title-logo img {
  height: 100%;
}

.title {
  font-family: "Bree Serif";
  font-size: 48px;
}
